@charset "UTF-8";

body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1 {
    color: black;
    background-color: rgb(67, 201, 67);
}

p {
    text-align: justify;
}